@model NguyenNhutDuy_2122110447.Context.Banner

<div>
    <h4>Banner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Tên</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            <p>HÌnh ảnh</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            <p>Mô tả</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            <p>Tạo lúc</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            <p>Cập nhật</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quay lại", "Index")
</p>
