@{
    var products = ViewBag.Products as List<NguyenNhutDuy_2122110447.Context.Product>;
    var viewMode = ViewBag.ViewMode as string;
}
<section class="section-content padding-y">
    <div class="container">


        <!-- ============================  FILTER TOP  ================================= -->
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2"> Your are here: </div> <!-- col.// -->
                    <nav class="col-md-8">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Category name</a></li>
                            <li class="breadcrumb-item"><a href="#">Sub category</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Items</li>
                        </ol>
                    </nav> <!-- col.// -->
                </div> <!-- row.// -->
                <hr>
                <div class="row">
                    <div class="col-md-2">Filter by</div> <!-- col.// -->
                    <div class="col-md-10">
                        <ul class="list-inline">
                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">   Supplier type </a>
                                <div class="dropdown-menu p-3" style="max-width:400px;">
                                    <label class="form-check">
                                        <input type="radio" name="myfilter" class="form-check-input"> Good supplier
                                    </label>
                                    <label class="form-check">
                                        <input type="radio" name="myfilter" class="form-check-input"> Best supplier
                                    </label>
                                    <label class="form-check">
                                        <input type="radio" name="myfilter" class="form-check-input"> New supplier
                                    </label>
                                </div> <!-- dropdown-menu.// -->
                            </li>
                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Country </a>
                                <div class="dropdown-menu p-3">
                                    <label class="form-check"> 	 <input type="checkbox" class="form-check-input"> China    </label>
                                    <label class="form-check">   	 <input type="checkbox" class="form-check-input"> Japan      </label>
                                    <label class="form-check">    <input type="checkbox" class="form-check-input"> Uzbekistan  </label>
                                    <label class="form-check">  <input type="checkbox" class="form-check-input"> Russia     </label>
                                </div> <!-- dropdown-menu.// -->
                            </li>
                            <li class="list-inline-item mr-3 dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Feature</a>
                                <div class="dropdown-menu">
                                    <a href="" class="dropdown-item">Anti backterial</a>
                                    <a href="" class="dropdown-item">With buttons</a>
                                    <a href="" class="dropdown-item">Extra safety</a>
                                </div>
                            </li>
                            <li class="list-inline-item mr-3"><a href="#">Color</a></li>
                            <li class="list-inline-item mr-3"><a href="#">Size</a></li>
                            <li class="list-inline-item mr-3">
                                <div class="form-inline">
                                    <label class="mr-2">Price</label>
                                    <input class="form-control form-control-sm" placeholder="Min" type="number">
                                    <span class="px-2"> - </span>
                                    <input class="form-control form-control-sm" placeholder="Max" type="number">
                                    <button type="submit" class="btn btn-sm btn-light ml-2">Ok</button>
                                </div>
                            </li>
                            <li class="list-inline-item mr-3">
                                <label class="custom-control mt-1 custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">
                                        Ready to ship
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
        </div> <!-- card.// -->
        <!-- ============================ FILTER TOP END.// ================================= -->

        <header class="mb-3">
            <div class="form-inline">
                <strong class="mr-md-auto">@products.Count() sản phẩm</strong>
                <div class="btn-group">
                    <!-- Link to Grid View -->
                    <a href="@Url.Action("ProductByCategory", new { id = ViewBag.CategoryId, viewMode = "grid" })" class="btn btn-light @(ViewBag.ViewMode == "grid" ? "active" : "")" data-toggle="tooltip" title="Grid view">
                        <i class="fa fa-th"></i>
                    </a>
                    <!-- Link to List View -->
                    <a href="@Url.Action("ProductByCategory", new { id = ViewBag.CategoryId, viewMode = "list" })" class="btn btn-light @(ViewBag.ViewMode == "list" ? "active" : "")" data-toggle="tooltip" title="List view">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
        </header>

        <div class="row @((viewMode == "list") ? "list-view" : "grid-view")">
            @if (viewMode == "grid")
            {
                foreach (var item in products)
                {
                    <div class="col-md-3">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">
                                <span class="badge badge-danger"> NEW </span>
                                <img src="~/Content/images/items/@item.image">
                            </div>
                            <figcaption class="info-wrap">
                                <a href="@Url.Action("Detail", "Product", new { id = item.id })" class="title mb-2">@item.name</a>
                                <div class="price-wrap">
                                    <span class="price">@String.Format("{0:N0} VND", item.price_sale)</span>
                                    <small class="text-muted">/per item</small>
                                </div>
                                <p class="mb-2"> 2 Pieces <small class="text-muted">(Min Order)</small></p>
                            </figcaption>
                        </figure>
                    </div>
                }
            }
            else
            {
                foreach (var item in products)
                {

                    <article class="card card-product-list">
                        <div class="row no-gutters">
                            <aside class="col-md-3">
                                <a href="#" class="img-wrap">
                                    <span class="badge badge-danger"> NEW </span>
                                    <img src="~/Content/images/items/@item.image">
                                </a>
                            </aside> <!-- col.// -->
                            <div class="col-md-6">
                                <div class="info-main">
                                    <a href="@Url.Action("Detail", "Product", new { id = item.id })" class="h5 title"> @item.name</a>
                                    <div class="rating-wrap mb-2">
                                        <ul class="rating-stars">
                                            <li style="width:100%" class="stars-active">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <div class="label-rating">9/10</div>
                                    </div> <!-- rating-wrap.// -->

                                    <p class="mb-3">
                                        <span class="tag"> <i class="fa fa-check"></i> Verified</span>
                                        <span class="tag"> 5 Years </span>
                                        <span class="tag"> 80 reviews </span>
                                        <span class="tag"> Russia </span>
                                    </p>

                                    <p>
                                        @item.detail
                                    </p>

                                </div> <!-- info-main.// -->
                            </div> <!-- col.// -->
                            <aside class="col-sm-3">
                                <div class="info-aside">
                                    <div class="price-wrap">
                                        <span class="h5 price">@String.Format("{0:N0} VND", item.price_sale)</span>
                                        <small class="text-muted">/per item</small>
                                    </div> <!-- price-wrap.// -->
                                    <small class="text-warning">Paid shipping</small>

                                    <p class="text-muted mt-3">Grand textile Co</p>
                                    <p class="mt-3">
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Contact supplier </a>
                                        <a href="#" class="btn btn-light"><i class="fa fa-heart"></i> Save </a>
                                    </p>

                                    <label class="custom-control mt-3 custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <div class="custom-control-label">
                                            Add to compare
                                        </div>
                                    </label>

                                </div> <!-- info-aside.// -->
                            </aside> <!-- col.// -->
                        </div> <!-- row.// -->
                    </article> <!-- card-product .// -->
                }
            }
        </div>


        <nav class="mb-4" aria-label="Page navigation sample">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>


        <div class="box text-center">
            <p>Did you find what you were looking for？</p>
            <a href="" class="btn btn-light">Yes</a>
            <a href="" class="btn btn-light">No</a>
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Delivering the latest product trends and industry news straight to your inbox</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Your Email" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text">We’ll never share your email address with a third-party. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
