@model NguyenNhutDuy_2122110447.Context.Product
@{
    ViewBag.Title = "Detail";
}
<script>
    var isLoggedIn = @((Session["email"] != null ? "true" : "false").ToLower());
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
       $("#addtocart").click(function () {
    var model = {};
    // lấy id sản phẩm
    model.Id = @Model.id;
    // lấy số lượng đặt hàng
    model.Quantity = $("#ipQuantity").val();

    $.ajax({
        type: "POST",
        url: '@Url.Action("AddToCart", "Cart")',
        data: JSON.stringify(model),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (response) {
            if (response.redirectToLogin) {
                window.location.href = '@Url.Action("Login", "User")'; // Chuyển hướng đến trang đăng nhập
            } else {
                alert("Thêm giỏ hàng thành công!");
                $('#CartCount').text(parseInt($('#CartCount').text()) + 1); // Cập nhật số lượng sản phẩm trong giỏ hàng
            }
        },
        error: function () {
            alert("Lỗi trong khi thêm vào giỏ hàng!");
        }
    });
    return false;
});

        $('#button-minus').click(function () {
            let quantity = parseInt($('#ipQuantity').val());
            if (quantity > 1) {
                $('#ipQuantity').val(quantity - 1);
            } else {
                alert("Số lượng không thể nhỏ hơn 1!");
            }
        });

        $('#button-plus').click(function () {
            let quantity = parseInt($('#ipQuantity').val());
            let maxQuantity = $(this).data('max'); // Lấy số lượng tối đa từ ViewBag

            if (quantity < maxQuantity) {
                $('#ipQuantity').val(quantity + 1);
            } else {
                alert("Chỉ còn " + maxQuantity + " sản phẩm trong kho");
            }
        });

    });
</script>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <!-- ============================ ITEM DETAIL ======================== -->
        <div class="row">
            <aside class="col-md-6">
                <div class="card">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="#"><img src="~/Content/images/items/@Model.image"></a></div>
                        </div> <!-- slider-product.// -->
                        <!--<div class="thumbs-wrap">
                            <a href="#" class="item-thumb"> <img src="~/Content/images/items/@Model.image"></a>
                            <a href="#" class="item-thumb"> <img src="~/Content/images/items/@Model.image"></a>
                            <a href="#" class="item-thumb"> <img src="~/Content/images/items/@Model.image"></a>
                            <a href="#" class="item-thumb"> <img src="~/Content/images/items/@Model.image"></a>
                        </div>--> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </div> <!-- card.// -->
            </aside>
            <main class="col-md-6">
                <article class="product-info-aside">

                    <h2 class="title mt-3">@Model.name </h2>

                    <div class="rating-wrap my-3">
                        <ul class="rating-stars">
                            <li style="width:80%" class="stars-active">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <small class="label-rating text-muted">132 đánh giá</small>
                        <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 đơn hàng </small>
                    </div> <!-- rating-wrap.// -->

                    <div class="mb-3">
                        @if (Model.price_sale == null)
                        {
                            <var class="price h4">@String.Format("{0:N0} VND", Model.price)</var>
                        }
                        else
                        {
                            <var class="price h4">@String.Format("{0:N0} VND", Model.price_sale)</var>
                            <span class="text-muted"><s>@String.Format("{0:N0} VND", Model.price)</s></span>
                        }

                    </div> <!-- price-detail-wrap .// -->

                    <p>
                        @Model.detail
                    </p>


                    <dl class="row">
                        <dt class="col-sm-3">Thương hiệu</dt>
                        <dd class="col-sm-9"><a href="#">Duy</a></dd>

                        <dt class="col-sm-3">Bảo hành</dt>
                        <dd class="col-sm-9">12 tháng</dd>

                        <dt class="col-sm-3">Giao hàng</dt>
                        <dd class="col-sm-9">3-4 ngày</dd>

                        <dt class="col-sm-3">Tình trạng</dt>
                        @if (Model.qty == 0 || Model.qty == null)
                        {
                            <dd class="col-sm-9">hết hàng</dd>
                        }
                        else
                        {
                            <dd class="col-sm-9">còn hàng</dd>
                        }

                    </dl>

                    <div class="form-row  mt-4">
                        <div class="form-group col-md flex-grow-0">
                            <div class="input-group mb-3 input-spinner">

                                <div class="input-group">
                                    <div class="input-group-append">
                                        <button class="btn btn-light" type="button" id="button-minus"> - </button>
                                    </div>
                                    <input type="text" class="form-control" id="ipQuantity" value="1" readonly />
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light" type="button" id="button-plus" data-max="@ViewBag.Qty"> + </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md">
                            @if (Model.qty == 0 || Model.qty == null)
                            {
                                <a href="#" id="addtocart" class="btn btn-primary disabled" aria-disabled="true">
                                    <i class="fas fa-shopping-cart"></i> <span class="text">Hết hàng</span>
                                </a>
                            }
                            else
                            {
                                <a href="#" id="addtocart" class="btn btn-primary">
                                    <i class="fas fa-shopping-cart"></i> <span class="text">Thêm vào giỏ hàng</span>
                                </a>
                            }


                        </div>
                    </div>

                </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
        <!-- ================ ITEM DETAIL END .// ================= -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
